* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

h2 {
    font-size: 2.5em;
    margin-top: 1em;
    margin-bottom: 1em;
    display: inline-block;
}

td, th {
    min-width: 1.5em;
    height: 1.25em;
    text-align: center;
    cursor: default;
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    border: 1px solid black;
}

.content {
    text-align: center;
}

form {
    display: inline-block;
}

input[type=text] {
    cursor: text;
    font-size: 1em;
    text-align: center;
    width: 95%;
    border: 1px solid rgb(197, 197, 201);
    box-shadow: 0px -2px 6px 1px rgb(225, 225, 227) inset;
}

input[type=submit], button {
    font-size: 1.5em;
    float: right;
    padding: .25em;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(225, 225, 227);
    box-shadow: -2px -2px 2px 2px rgb(197, 197, 201) inset;
    border: none;
}

input[type=submit]:hover {
    background-color: rgb(197, 197, 201);
    box-shadow: 2px 2px 2px 2px rgb(225, 225, 227) inset;
}

td {
    font-size: 2em;
    width: 1.5em;
    padding: .1em;
}

th {
    font-size: 2.25em;
}

.correct {
    text-transform: uppercase;
    color: rgb(255, 0 , 0);
}

.wrong-place {
    text-transform: uppercase;
    color: rgb(0, 0 , 255);
}

#ModalContainer{
    background-color: rgba(155, 155, 155, .5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    display: none;
}

.modal {
    width: 40%;
    height: 30%;
    position: absolute;
    border: 1px solid black;
    left: 30%;
    top: 35%;
    background-color: white;
    padding: 20px;
}

.modal h3 {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.modal button {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-size: 1em;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(136, 235, 162);
    box-shadow: 0px 0px 2px 2px rgb(104, 196, 128) inset;
    top: 6%;
}

.modal button:hover {
    background-color: rgb(104, 196, 128);
    box-shadow: 0px 0px 2px 2px rgb(136, 235, 162) inset;
}

button.help{
    height: 1.5em;
    width: 1.5em;
    border-radius: .75em;
    font-size: .75em;
    float: none;
    border: 2px ridge rgb(92, 127, 233);
    padding: 0px;
    background-color: rgb(184, 202, 255);
    box-shadow: none;
    font-weight: bold;
    position: relative;
    left: 17em;
}

button.help:hover {
    background-color: rgb(204, 217, 255);
    box-shadow: none;/*0px 0px 2px 2px rgb(204, 217, 255) inset;*/
}